# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Docker
docker-data/
postgres_data/

# Python packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Cache
.pytest_cache/
.mypy_cache/

# Celery
celerybeat-schedule

# Local uploads
uploads/

# Secrets
*.pem
*.key