amqp
annotated-types
anyio
asgiref
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
distro
Django
djangorestframework
dotenv
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
kombu
numpy
packaging
pandas
prompt_toolkit
proto-plus
protobuf
psycopg
psycopg-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
redis
regex
requests
six
sniffio
sqlparse
tenacity
tiktoken
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vine
wcwidth
websockets
django-cors-headers
openpyxl
xlrd
dj-database-url
gunicorn
